<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2f275a9d-133d-463a-b66c-2e0f144d1c33" Alias="Contentment page - [Contentment] Text Input" Level="1">
  <Info>
    <Name>Contentment page - [Contentment] Text Input</Name>
    <EditorAlias>Umbraco.Community.Contentment.TextInput</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "items": [],
  "autocomplete": "0",
  "spellcheck": "0",
  "prepend": "icon-activity color-black"
}]]></Config>
</DataType>