<?xml version="1.0" encoding="utf-8"?>
<DataType Key="59d03ce4-2093-4850-bd6b-acba48666765" Alias="Contentment page - [Contentment] Notes" Level="1">
  <Info>
    <Name>Contentment page - [Contentment] Notes</Name>
    <EditorAlias>Umbraco.Community.Contentment.Notes</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "notes": "<p>Notes</p>",
  "hideLabel": "0",
  "hidePropertyGroup": "0"
}]]></Config>
</DataType>